html {
    font-size: 22px
}
/*Organizes the background color of the page*/
body {
    background-color: #333;
    color: whitesmoke;
}
/*Organizes the color of the links*/

a {
    color:blue;
}
a:visited {
    color: darkcyan;
}

a:hover, a:active {
    color:gold;
}